<!DOCTYPE html>
<html lang="en">

<head>
<title>School Book ! Sign In</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
	

		<div >
			<div >
				<h2>Forgot </h2>
			</div>
			{% with messages= get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<h3>{{message}}</h3>
					{% endfor %}
				{% endif %}
			{% endwith %}
			{% for message in form.new_password.errors %}
		    <div>New Password :{{ message }}</div>
		    {% endfor %}
		    {% for message in form.confirm_password.errors %}
		    <div> Confirm Password: {{ message }}</div>
		    {% endfor %}
		     {% for message in form.email.errors %}
		    <div> Confirm Password: {{ message }}</div>
		    {% endfor %}
		    
			<form action="/password_reset" method=post autocomplete="off">
      			<fieldset>
      				 {{ form.hidden_tag() }}
      				 {{ form.email.label }}
      				<br/>
      				{{ form.email}}
      				<br/>
      				{{ form.new_password.label }}
      				<br/>
      				{{ form.new_password}}
      				<br/>
      				{{ form.confirm_password.label }}
      				<br/>
      				{{ form.confirm_password}}
      				<br/>
      				
				</fieldset>
			<button type="submit">Save</button>&nbsp;&nbsp;
			</form>
			<br/>
			<a href="/login" style="display:inline"><p class="btn btn-danger">Sign In</p></a> 
		</div>
	</div>
</body>



</html>